@import url('https://fonts.googleapis.com/css?family=Open+Sans');


p, a, li, h1, h3, h5{
	font-family: sans-serif;
}

.cabecera{
	overflow: hidden;
	background-image: url(imagenes/encab.jpg);
	/*height: 300px;
	width: 5000px;*/
}
.cabecera img{
	display: flex;
	margin: auto;
}

.cabecera h3{
	text-align: center;
	font-size: 30px;
	color: #ffffff;
}

.cabecera h5{
	font-size: 27px;
	text-align: center;
	color:#ffffff;
}

.menu{
	background: rgb(35, 35, 65);
	overflow: hidden;
}

.menu ul li{
	list-style: none;
	display: inline;
}

.menu ul li a{
	color: #ffffff;
	padding: 15px;
	text-align: justify;
	text-decoration: none;

	
}
.menu ul li a:hover{
	text-decoration: none;
	color: #f3bf7b;
}

.slider{
	width: 100%;
}

.iconos{
	overflow: hidden;
	margin:20px 0px ;
}
.iconos h3{
	text-align: center;
	color: #444444;
	font-size: 26px;
}
.iconos div{
	width: 24%;
	float: left;
	overflow: hidden;
}

.iconos div img{
	width: 80%;
	display: block;
	margin: auto;
}
.iconos div p{
	text-align: center;
	color: cornflowerblue;
}

.sobremi h1{
	text-align: center;
	font-size: 32px;
	color: #000000;
}
.Caja {
	float: right;
}
.sobremi p{
	text-align: justify;
	margin-left: 80px;
	margin-right: 80px;
	font-size: 20px;
	text-rendering: initial;
	color: #000000;
}

footer{
    background-color: #3e5bac;
    width: 100%;
    height: 15vh;
    text-align: center;

}
#redes li{
    display: inline-block;
    text-decoration: none;
    margin-top: calc();
    width: 32%;
    
}

#github{
   object-position: center;
    width: 7%;
}
#twitter{
	object-position: center;
    width: 7%;
}
#gmail{
	object-position: center;
    width: 7%;
}