.myclass{
    text-align: center;
    font-size: 5vw;
    padding: 10vw;
    border: solid;
    background: repeating-radial-gradient(red, blue);
}
.myvic{
    text-align: center;
    font-size: 5vw;
    padding: 10vw;
    border: solid;
    background: repeating-linear-gradient(green, purple)
}

img{
    display: block;
    filter: grayscale();
    animation: myAnimation  2s ease 1s 3 alternate forwards;  
}
@keyframes myAnimation{
    100% {
        transform: rotate(365deg);
    }

}