#main {
    display: flex;
    min-height: calc(100vh - 30vh);
}
header, footer {
    background: grey;
    height: 15vh;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#main > article {
    flex: 1;
}
#main > nav, 
#main > aside {
flex: 0 0 20vw;
background: beige;
}

#main > nav {
    order: -1;
}
body {
    margin: 0;
}
header, footer{
background: grey;
height: 15vh;
}

header, footer, article, nav, aside{
    padding: 1em;
}